.fb-share-button {
    display: inline-block;
    margin-left: 10px;
    width: auto;
    align-items: right;
}

.actions {
    display: flex;
    position: static;
    justify-content: space-between;
}