{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="card border-0 shadow my-5">
		<div class="card-body p-5">
			<center>
				<h1 class="font-weight-dark">SWAG Book Store</h1>
				<p>Welcome to our dummy book store. This is a sample e-commerce website that we built for our project to
					understand the mindset of browser extension developers and the extensions' interaction with
					websites.</br></br>Importantly, we do not own any of the third-party resources that we include here in our website, neither do we use them for any commercial purposes, whatsoever.</p>
			</center>
		</div>
	</div>
</div>
{% endblock %}